@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book DatabaseOperations</title>
</head>
<body>
    <h2>Book Database operations successful</h2>
</body>
</html>
